@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$text-color:#3c3c3c;
@mixin transition{
	transition: all .5s ease-out;
}
@mixin border ($t, $r, $b, $l){
	border-top: $t solid $text-color;
	border-right: $r solid $text-color;
	border-bottom: $b solid $text-color;
	border-left: $l solid $text-color;
}



* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font: 300 1.6rem/1.5 'Lato', sans-serif;
	color: $text-color;
	min-height: 100%;
}
.container{
    margin: 0 auto;
    max-width: 900px;
    padding: 0 170px;
    &--flex{
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	align-items: center;
    	height: calc(100vh - 2 * 110px);
    }
    &--bordered{
    	@include border (0,2px,2px,2px);
    	border-top: 0;
    	padding-bottom: 40px;
    	position: relative;
    	&:before,
		&:after{
			content:"";
			display: inline-block;
			width: 30%;
			@include border (2px,0,0,0);
			position: absolute;
			left: -2px;
			top: -2px;
			

		}
		&:after{
			left: auto;
			right: -2px	;
		}

		.section--bg &{
			border-color: #fff;
			&:before,
			&:after{
			border-color: #fff;
			}
		}
    	
    
    }
}


.section{
	padding: 110px 0;
	text-align: center;
	&--bg{
		color: #fff;
		background-color: #aebad0;
		background-size: cover;
		background-position: center;
		background-position: no-repeat;
	}

}

.title{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px
}

h1.title{
	font-size: 5.4rem;
	margin:80px 0 30px;
	line-height: 1;
}

h2.title{
	font-size: 3.4rem;
	transform:translate(0,-50%);
	// max-width: calc(900px -60%);
	padding: 0 80px;
	word-break: break-all;
	margin: 0;
	
}

h3.title{
	font-size: 2rem;
	margin: 40px 0;
}
.text{
	&--uppercase{
		text-transform: uppercase;
		font-weight: 400;
	}
}
.scroll{
	margin-top: auto;
	svg {
		fill: #fff;
		@include transition
	}
	&:hover,
	&:focus,
	&:active{
		svg {
		fill: $text-color;
		}
	}
}

.feature{
	padding: 50px 0;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	&__item{
		width:30%;
		height: 250px;
		margin-bottom: .5%;
		&--lg{
			width: 39%;
		}
	}
}
.work{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	color: #fff;
	&__img{
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include transition;
	}
	&__title{
		position: absolute;
		bottom: 40px;
		left: 40px;
		right: 40px;
		text-align: left;
		font-weight: bold;
		font-size: 3.4rem;
		letter-spacing: 3px;
		white-space:nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition;
	}
	&:hover{
	.work__img{
		transform: translate(-50%, -50%) scale(1.2);
		@include transition;

	}
	.work__title{
		transform: translateY(-100px);
		@include transition;
	}
}
}

.button{
	margin: 0 auto;
	margin-top: 50px;
	width: 350px;
	height: 65px;
	background-color: #3c3c3c;
}

.button a{
	height: 100%;
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 5px	;
	padding: 20px 0;
}

.button:hover,
.button:focus,
.button:active{
	background-color: #C52200;
	@include transition;
}

.row{
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	padding: 0 70px;

	&__item a{
		text-decoration: none;
		color: inherit;
		font-size: 1.4rem;
		font-weight: bold;
	}
	&__item a:hover,
	&__item a:focus,
	&__item a:active{
	color: #C52200;
	@include transition;
	}
}